body {
  background: #f8e8a6;
  text-align: center;
}

h2 {
  margin: 20px;
  font-weight: bold;
}

a {
  padding: 20px;
  color: green;
}

img {
  display: 0 auto;
  max-width: 800px;
  margin: 20px;
}
